AWS_ACCESS_KEY_ID=#
AWS_SECRET_ACCESS_KEY=#
S3_BUCKET_NAME=#
AWS_REGION=#
DELTA_LAKE_S3_PATH=#

DB_USER1=#
DB_PASSWORD1=#
DB_HOST1=#
DB_NAME1=#
DB_PORT1=1433
DB_DRIVER1=ODBC Driver 17 for SQL Server
DB_TABLE1=transactions
DB_TRUSTED_CONNECTION1=yes
DB_ENCRYPT1=no
DB_TRUST_SERVER_CERTIFICATE1=yes

DUCKDB_TRANSACTION_PATH=s3://bucketdwtozero/sqlserver/arquivo.parquet
DUCKDB_STORE_PATH=s3://bucketdwtozero/api/arquivo.parquet
